<nav class="navbar navbar-expand-lg navbar-light bg-success">
        <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li routerLinkActive="active" class="nav-item">
              <a routerLink = "/veiculos" class="nav-link text-white">Veículos</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink = "/aluguel" class="nav-link  text-white">Alugueis</a>
            </li>
            <li routerLinkActive="active" class="nav-item">
              <a routerLink = "/financeiro" class="nav-link  text-white">Financeiro</a>
            </li>
        </ul>
        <a routerLink ="" class="navbar-brand text-white">Green</a>
        </div>
      </nav>
<div class="container">
    <router-outlet></router-outlet>
</div>